<h1>Cocktails#index</h1>
<% @cocktails.each do |c| %>
<%= c.name %>
<% end %>
<p>Find me in app/views/cocktails/index.html.erb</p>
<!-- <%= f.association :ingredient, as: :checkboxes, label_method: :name, value_method: :id, include_blank: false %> -->
