<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<%= @cocktail.name %>

<% @cocktail.doses.each do |dose| %>
  <div class="dose-details">
    <p><%= dose.ingredient.name %>: <%= dose.description %></p>
  </div>
<% end %>


<%= link_to "Add a new ingredient", new_cocktail_dose_path(@cocktail) %>

